/*--------------------------------------------------
    ## Color blue style
---------------------------------------------------*/
a:hover {
	color: #00b8f0;;
}
.btn-white {
    color: #00b8f0;;
    border: 1px solid#00b8f0;;
}
.btn-base {
    background:#00b8f0;;
}
.section-title .sub-title  {
	color:#00b8f0;;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover {
    background:#00b8f0;;
}
.main-search-inner i {
    color:#00b8f0;;
}
.owl-nav button {
    border: 1px solid#00b8f0;;
    color:#00b8f0;;
}
.owl-dots .owl-dot.active {
    background:#00b8f0;;
}
.owl-nav button:hover {
	background:#00b8f0;;
}
.single-course-inner .details .price {
	background:#00b8f0;;
}
.footer-top.style-two {
	background:#00b8f0;;
}
.footer-area .widget_nav_menu ul li a:hover {
    color:#00b8f0;;
}
.social-area li a:hover {
	color:#00b8f0;;
}
.footer-bottom p span {
    color:#00b8f0;;
}
.back-to-top {
	background-color:#00b8f0;;
}
.btn-border-white:hover,
.td-log-in-popup .log-in-form .nav-pills .nav-item .nav-link.active, 
.td-log-in-popup .log-in-form .nav-pills .nav-item .nav-link:hover,
.single-blog-inner .details .date {
    color:#00b8f0;;
}
.td-log-in-popup .log-in-form .nav-pills,
.testimonial-thumbnail-carousel img {
    border-color:#00b8f0;;
}
.toggle-btn .icon-left,
.toggle-btn .icon-right,
.toggle-btn .icon-left:before,
.toggle-btn .icon-left:after,
.toggle-btn .icon-right:before,
.toggle-btn .icon-right:after,
.header-cat-menu ul li:hover,
.td-log-in-popup .log-in-wrap,
.slick-dots li.slick-active,
.testimonial-thumbnail-carousel .video-play-btn,
.td-log-in-popup .log-in-form .nav-pills:after,
.td-log-in-popup .log-in-form .tab-content .tab-pane .other-log-in-area .btn-fb:hover,
.td-log-in-popup .log-in-form .tab-content .tab-pane .other-log-in-area .btn-google:hover,
.td-search-popup .search-form .submit-btn {
    background:#00b8f0;;
}